@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.main{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.pom-container{
    display: flex;
    width: 40vh;
    height: 50vh;
    background-color: rgb(40, 40, 40);
    border-radius: 48px;
    flex-direction: column;
    align-items: center;
}

.pom-header{
    display: flex;
    width: 90%;
    height: 10%;
    margin-top: 24px;
    flex-direction: row;
    align-items: center;
}

.pom-content{
    display: flex;
    width: 90%;
    height: 80%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pom-footer{
    display: flex;
    width: 90%;
    height: 10%;
    margin-bottom: 20%;

}

.pom-tomato{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
}

.dot{
    display: flex;
    border-radius: 100%;
    background-color: white;
    width: 5px;
    height: 5px;
    margin-bottom: 0.4vh;
}

.tmt-img{
    max-width: 100%;
    max-height: 100%;
    
}

.tmt-img img{ 
    max-width: 28px;
    max-height: 28px;
}

.pom-blank{
    width: 90%;
}

.pom-sessions{
    font-family: 'Nunito', sans-serif;
    color:  white;
    font-weight: 300;
    margin-bottom: 5%;
    margin-top: 35%;
}
.pom-time-next{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.time{
    font-family: 'Nunito', sans-serif;
    color:  white;
    font-weight: 1000;
    font-size: 5vh;
    width: 80%;
}

.pom-reset{
    margin-top: 40%;
}
.pom-time-next{
    width: 100%;
    white-space: space-between;
}
.next{
    width: 10%;
}
.pom-time-blank{
    width: 40%;
}

.pom-control{
    cursor: pointer;
}
.pom-custom{
    cursor: pointer;
}
.pom-container-settings{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 0vh;
    height: 50vh;
    background-color: rgb(40, 40, 40);
    border-radius: 48px;
    transition: width 0.2s cubic-bezier(0.93, 0.88, 0.1, 0.8);
    flex-direction: column;
    align-items: center;
}

.pom-blank-setting{
    display: flex;
    width: 90%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-left: 36px;
}
.pom-blank-setting p {
    display: none;
    font-family: 'Nunito', sans-serif;
    font-size: 2vh;
    color: white;
}
.settings-close svg{
    width: 0;
    transform: rotate(-180deg);
    cursor: pointer;
}

.studytime-selector,.pausetime-selector{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.study-selector,.pause-selector{
    display: flex;
    width: 80%;
    height: 40%;
    background-color: white;
    border-radius: 42px;
    justify-content: center;
    align-items: center;

    z-index: 1;
}

.stsel-selected,.pssel-selected{
    display: none;
    width: 35%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Nunito', sans-serif;
    color: rgb(40, 40, 40);
    font-weight: 500;
}

.stsel-arrow,.pssel-arrow{
    display: flex;
    width: 13%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0.1vh;
    margin-left: 0.5vh;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
}
.stsel-title,.pssel-title{
    display: none;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Nunito', sans-serif;
    color: rgb(40, 40, 40);
    font-weight: 700;
    margin-left: 1.5vh;
}

.pause-selector{
    margin-top: -8vh;
    transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
}
.study-options,.pause-options{
    display: flex;
    width: 80%;
    height: 40%;
    flex-direction: column;
    filter: url(#goo);
    font-family: 'Nunito', sans-serif;
    z-index: 0;
} 
.options{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 42px;
    justify-content: center;
    align-items: center;
    margin-top: -1vh;
}

.rectangle{
    height: 60%;
    width: 10%;
    background-color: white;
    margin-top: -5.5vh;
    margin-left: 23vh;
    transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
    margin-bottom: -3vh;
}
.stdop,.psop{
   display: flex;
   cursor: pointer;
   height: 60%;
   justify-content: center;
   align-items: center;
   width: 7vh;
   transition: background-color 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
   border-radius: 20px;
}

.stdop:hover,.psop:hover{
    background-color: rgba(0, 0, 0, 0.096);
}
#opt{
    display: none;
}